$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-white: #FFFFFF;
$color-white-grey: #F6F6F6;
$color-menu-hover: #FAFAFA;
$color-not-only: #CDCDCD;
$color-btn-content: #292929;
$color-heading: #545454;
$color-content: #4C4C4C;
$color-info-content: #B2B2B2;
$color-menu: #CDCDCD;

$content-with: 1200px;
$tablet-with: 768px;
$mobile-with: 500px;
$small-mobile-with: 320px;
